@using System.Globalization
@using RevolutionaryWebApp.Server.Models.Pages
@using RevolutionaryWebApp.Shared.Models.Pages
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>@ViewBag.MetaTitle - Revolutionary Games Studio</title>
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical"/>
        <meta property="og:url" content="@ViewBag.Canonical"/>
    }

    <meta property="og:title" content="@ViewBag.MetaTitle"/>
    @if (ViewBag.OpenGraphDescription != null)
    {
        <meta property="og:type" content="@ViewBag.OpenGraphPageType"/>

        @if (ViewBag.OpenGraphImage != null)
        {
            <meta property="og:image" content="@ViewBag.OpenGraphImage"/>
        }

        <meta property="og:description" content="@ViewBag.OpenGraphDescription"/>

        <meta property="description" content="@ViewBag.OpenGraphDescription"/>
    }

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@Thrive_Game">
    <meta name="twitter:title" content="@ViewBag.MetaTitle">
    @if (ViewBag.OpenGraphDescription != null)
    {
        <meta name="twitter:description" content="@ViewBag.OpenGraphDescription"/>
    }

    @if (ViewBag.OpenGraphImage != null)
    {
        <meta name="twitter:image" content="@ViewBag.OpenGraphImage"/>
    }

    <link href="@ViewBag.AssetsBase/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="@ViewBag.AssetsBase/css/app.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/page-favicon.png"/>
    <script src="/page.js"></script>
</head>

<body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        detectYouTubeVideos(document.body);
        enableAllCookieForms();
        enableMobileNavigation();
    });
</script>

<!-- Mobile page navigation -->
<header class="mobile-header">
    <div class="header-logo">
        <a href="/"><img src="/page-favicon.png" alt="logo"/>
            <span style="margin-left: 16px; padding-top: 6px">Thrive</span>
        </a>
    </div>
    <button class="hamburger" id="nav-menu-button" aria-label="Menu" aria-expanded="false">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
</header>

<!-- Navigation menu that slides down -->
<nav class="mobile-nav" id="mobile-nav">
    <ul>
        @if (ViewBag.Socials != null)
        {
            @foreach (RenderingLayoutPart navItem in ViewBag.TopNav)
            {
                if (navItem.DisplayMode is LayoutPartDisplayMode.Separator or LayoutPartDisplayMode.Spacer)
                {
                    <li class="mx-4 p-1"></li>
                    continue;
                }

                <li>
                    @if (navItem.Active)
                    {
                        <a class="main-bar-nav-link current-active-page" href="@navItem.LinkTarget"
                           aria-current="page">
                            @navItem.AltText
                        </a>
                    }
                    else
                    {
                        <a class="main-bar-nav-link" href="@navItem.LinkTarget">@navItem.AltText</a>
                    }
                </li>
            }
        }
        else
        {
            <li><a href="/">Home</a></li>
        }
    </ul>
</nav>

<div class="backdrop" id="backdrop"></div>

<!-- Main page body -->
<div class="page main-site">
    <main>
        <div class="mobile-spacer"></div>
        <article class="content px-4 container">
            @if (ViewBag.Socials != null)
            {
                <div class="top-social-links">
                    @foreach (RenderingLayoutPart navItem in ViewBag.Socials)
                    {
                        <a href="@navItem.LinkTarget" target="_blank">
                            <img src="@navItem.Image" alt="@navItem.AltText" width="24" height="24" class="mx-1"/></a>
                    }
                </div>
            }

            @if (ViewBag.ShowLogo == true)
            {
                <div class="row thrive-logo-container">
                    <img class="thrive-logo" alt="Revolutionary Games Logo"
                         src="https://thrive-media.b-cdn.net/d8b0d013-99eb-4df5-825c-a60eecf959df/Header-3.png"/>
                </div>
            }
            @if (ViewBag.TopNav != null)
            {
                <div class="row py-2 desktop-top-nav">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        @foreach (RenderingLayoutPart navItem in ViewBag.TopNav)
                        {
                            if (navItem.DisplayMode is LayoutPartDisplayMode.Separator or LayoutPartDisplayMode.Spacer)
                            {
                                <span class="mx-4 p-1">
                                </span>
                                continue;
                            }

                            <span class="mx-3 p-1">
                                @if (navItem.Active)
                                {
                                    <a class="main-bar-nav-link current-active-page" href="@navItem.LinkTarget"
                                       aria-current="page">
                                        @navItem.AltText
                                    </a>
                                }
                                else
                                {
                                    <a class="main-bar-nav-link" href="@navItem.LinkTarget">@navItem.AltText</a>
                                }
                            </span>
                        }
                    </div>
                </div>
            }
            <div class="row gx-5">
                <div class="col-md-8 main-page pt-4">
                    @if (ViewBag.PreviousLink != null || ViewBag.NextLink != null)
                    {
                        <div class="news-feed-navigation" style="margin-bottom: 10px;">
                            @if (ViewBag.PreviousLink != null)
                            {
                                <a class="news-feed-item" href="@ViewBag.PreviousLink">
                                    &larr; @ViewBag.PreviousLinkText
                                </a>
                            }
                            else
                            {
                                // Empty spacer needed to maintain item balance
                                <div></div>
                            }

                            @if (ViewBag.NextLink != null)
                            {
                                <a class="news-feed-item" href="@ViewBag.NextLink">
                                    @ViewBag.NextLinkText &rarr;
                                </a>
                            }
                            else
                            {
                                <div></div>
                            }
                        </div>
                    }

                    @if (ViewBag.Title != null)
                    {
                        <h1>@ViewData["Title"]</h1>
                        <hr style="margin-top: 0; margin-bottom: 10px;"/>

                        @if (ViewBag.PublishedAt != null)
                        {
                            <div class="posted-at-time">Posted on @ViewBag.PublishedAt</div>
                        }
                    }

                    @RenderBody()

                    @if (ViewBag.PreviousLink != null || ViewBag.NextLink != null)
                    {
                        <div class="news-feed-navigation" style="margin-top: auto; margin-bottom: 7px;">
                            @if (ViewBag.PreviousLink != null)
                            {
                                <a class="news-feed-item" href="@ViewBag.PreviousLink">
                                    &larr; @ViewBag.PreviousLinkText
                                </a>
                            }
                            else
                            {
                                <div></div>
                            }

                            @if (ViewBag.NextLink != null)
                            {
                                <a class="news-feed-item" href="@ViewBag.NextLink">
                                    @ViewBag.NextLinkText &rarr;
                                </a>
                            }
                            else
                            {
                                <div></div>
                            }
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <div class="mobile-sidebar-separator">
                        <hr/>
                    </div>
                    @if (ViewBag.Sidebar != null)
                    {
                        bool listItems = false;

                        foreach (RenderingLayoutPart navItem in ViewBag.Sidebar)
                        {
                            switch (navItem.DisplayMode)
                            {
                                case LayoutPartDisplayMode.List:
                                    listItems = true;
                                    continue;
                                case LayoutPartDisplayMode.Separator:
                                    <div class="main-site-sidebar-item py-1">
                                        <hr/>
                                    </div>
                                    continue;
                                case LayoutPartDisplayMode.Spacer:
                                    <div class="main-site-sidebar-item py-2">
                                    </div>
                                    continue;
                            }

                            <div class="main-site-sidebar-item py-1">
                                @await Html.PartialAsync("Components/_RenderSidebarItem", navItem)
                            </div>
                        }

                        if (listItems)
                        {
                            <ul>
                                @foreach (RenderingLayoutPart navItem in ViewBag.Sidebar)
                                {
                                    if (navItem.DisplayMode != LayoutPartDisplayMode.List)
                                        continue;

                                    <li class="main-site-sidebar-item">
                                        @await Html.PartialAsync("Components/_RenderSidebarItem", navItem)
                                    </li>
                                }
                            </ul>
                        }

                        @if (ViewBag.Socials != null)
                        {
                            <div class="socials-sidebar-links">
                                @foreach (RenderingLayoutPart navItem in ViewBag.Socials)
                                {
                                    <a href="@navItem.LinkTarget" target="_blank">
                                        <img src="@navItem.Image" alt="@navItem.AltText" width="32" height="32"
                                             class="mx-1"/>
                                    </a>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>Sidebar is not configured</p>
                    }
                </div>
            </div>
            <div class="row rendered-by">
                Rendered by @ViewBag.Renderer in @ViewBag.Duration ms at @ViewBag.GeneratedAt. Last edited
                @(((DateTime)ViewBag.UpdatedAt).ToString("R", CultureInfo.InvariantCulture)).
                Website © @(DateTime.UtcNow.Year) - Revolutionary Games Studio
            </div>
        </article>
    </main>
</div>
</body>

</html>
