@using System.Globalization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/css/app.css" rel="stylesheet"/>
</head>

<body>
<div class="page main-site">
    <main>
        <article class="content px-4 container">
            @if (ViewBag.ShowLogo == true)
            {
                @* TODO: put to proper media storage *@
                <div class="row thrive-logo-container">
                    <img class="thrive-logo" alt="Revolutionary Games Logo"
                         src="https://revolutionarygamesstudio.com/wp-content/uploads/2016/03/Header-3.png"/>
                </div>
            }
            <div class="row">
                Top bar nav links here
            </div>
            <div class="row gx-4">
                <div class="col-md-8 main-page">
                    @if (ViewBag.Title != null)
                    {
                        <h1>@ViewData["Title"]</h1>
                        <hr/>
                    }

                    @RenderBody()

                    <hr/>
                </div>
                <div class="col-md-4">
                    <p>Sidebar</p>
                </div>
            </div>
            <div class="row rendered-by">
                Rendered by @ViewBag.Renderer in @ViewBag.Duration ms at @ViewBag.GeneratedAt. Last edited
                @(((DateTime)ViewBag.UpdatedAt).ToString("R", CultureInfo.InvariantCulture)).
                Website © @(DateTime.UtcNow.Year) - Revolutionary Games Studio
            </div>
        </article>
    </main>
</div>
</body>

</html>
