@using System.Globalization
@using RevolutionaryWebApp.Server.Models.Pages
@using RevolutionaryWebApp.Shared.Models.Pages
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>@ViewBag.MetaTitle - Revolutionary Games Studio</title>
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical"/>
        <meta property="og:url" content="@ViewBag.Canonical"/>
    }

    <meta property="og:title" content="@ViewBag.MetaTitle"/>
    @if (ViewBag.OpenGraphDescription != null)
    {
        <meta property="og:type" content="@ViewBag.OpenGraphPageType"/>

        @if (ViewBag.OpenGraphImage != null)
        {
            <meta property="og:image" content="@ViewBag.OpenGraphImage"/>
        }

        <meta property="og:description" content="@ViewBag.OpenGraphDescription"/>

        <meta property="description" content="@ViewBag.OpenGraphDescription"/>
    }

    <link href="@ViewBag.AssetsBase/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="@ViewBag.AssetsBase/css/app.css" rel="stylesheet"/>
    <script src="/page.js"></script>
</head>

<body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        detectYouTubeVideos(document.body);
        enableAllCookieForms();
    });
</script>

<div class="page main-site">
    <main>
        <article class="content px-4 container">
            @if (ViewBag.Socials != null)
            {
                <div class="top-social-links">
                    @foreach (RenderingLayoutPart navItem in ViewBag.Socials)
                    {
                        <a href="@navItem.LinkTarget" target="_blank">
                            <img src="@navItem.Image" alt="@navItem.AltText" width="16" height="16" class="mx-1"/></a>
                    }
                </div>
            }

            @if (ViewBag.ShowLogo == true)
            {
                <div class="row thrive-logo-container">
                    <img class="thrive-logo" alt="Revolutionary Games Logo"
                         src="https://thrive-media.b-cdn.net/d8b0d013-99eb-4df5-825c-a60eecf959df/Header-3.png"/>
                </div>
            }
            @if (ViewBag.TopNav != null)
            {
                <div class="row py-2">
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        @foreach (RenderingLayoutPart navItem in ViewBag.TopNav)
                        {
                            if (navItem.DisplayMode is LayoutPartDisplayMode.Separator or LayoutPartDisplayMode.Spacer)
                            {
                                <span class="mx-4 p-1">
                                </span>
                                continue;
                            }

                            <span class="mx-3 p-1">
                                @if (navItem.Active)
                                {
                                    <a class="main-bar-nav-link current-active-page" href="@navItem.LinkTarget"
                                       aria-current="page">
                                        @navItem.AltText
                                    </a>
                                }
                                else
                                {
                                    <a class="main-bar-nav-link" href="@navItem.LinkTarget">@navItem.AltText</a>
                                }
                            </span>
                        }
                    </div>
                </div>
            }
            <div class="row gx-5">
                <div class="col-md-8 main-page pt-4">
                    @if (ViewBag.Title != null)
                    {
                        <h1>@ViewData["Title"]</h1>
                        <hr/>
                    }

                    @RenderBody()
                </div>
                <div class="col-md-4">
                    @if (ViewBag.Sidebar != null)
                    {
                        bool listItems = false;

                        foreach (RenderingLayoutPart navItem in ViewBag.Sidebar)
                        {
                            switch (navItem.DisplayMode)
                            {
                                case LayoutPartDisplayMode.List:
                                    listItems = true;
                                    continue;
                                case LayoutPartDisplayMode.Separator:
                                    <div class="main-site-sidebar-item py-1">
                                        <hr/>
                                    </div>
                                    continue;
                                case LayoutPartDisplayMode.Spacer:
                                    <div class="main-site-sidebar-item py-2">
                                    </div>
                                    continue;
                            }

                            <div class="main-site-sidebar-item py-1">
                                @await Html.PartialAsync("Components/_RenderSidebarItem", navItem)
                            </div>
                        }

                        if (listItems)
                        {
                            <ul>
                                @foreach (RenderingLayoutPart navItem in ViewBag.Sidebar)
                                {
                                    if (navItem.DisplayMode != LayoutPartDisplayMode.List)
                                        continue;

                                    <li class="main-site-sidebar-item">
                                        @await Html.PartialAsync("Components/_RenderSidebarItem", navItem)
                                    </li>
                                }
                            </ul>
                        }

                        @if (ViewBag.Socials != null)
                        {
                            <div class="socials-sidebar-links">
                                @foreach (RenderingLayoutPart navItem in ViewBag.Socials)
                                {
                                    <a href="@navItem.LinkTarget" target="_blank">
                                        <img src="@navItem.Image" alt="@navItem.AltText" width="32" height="32" class="mx-1"/></a>
                                }
                            </div>
                        }
                    }
                    else
                    {
                        <p>Sidebar is not configured</p>
                    }
                </div>
            </div>
            <div class="row rendered-by">
                Rendered by @ViewBag.Renderer in @ViewBag.Duration ms at @ViewBag.GeneratedAt. Last edited
                @(((DateTime)ViewBag.UpdatedAt).ToString("R", CultureInfo.InvariantCulture)).
                Website © @(DateTime.UtcNow.Year) - Revolutionary Games Studio
            </div>
        </article>
    </main>
</div>
</body>

</html>
