@using System.Globalization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>@ViewBag.MetaTitle - Revolutionary Games Studio</title>
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical"/>
        <meta property="og:url" content="@ViewBag.Canonical" />
    }

    <meta property="og:title" content="@ViewBag.MetaTitle"/>
    @if (ViewBag.OpenGraphDescription != null)
    {
        <meta property="og:type" content="@ViewBag.OpenGraphPageType"/>

        @if (ViewBag.OpenGraphImage != null)
        {
            <meta property="og:image" content="@ViewBag.OpenGraphImage"/>
        }

        <meta property="og:description" content="@ViewBag.OpenGraphDescription" />

        <meta property="description" content="@ViewBag.OpenGraphDescription" />
    }

    <link href="@ViewBag.AssetsBase/css/bootstrap/bootstrap.min.css" rel="stylesheet"/>
    <link href="@ViewBag.AssetsBase/css/app.css" rel="stylesheet"/>
</head>

<body>
<div class="page main-site">
    <main>
        <article class="content px-4 container">
            @if (ViewBag.ShowLogo == true)
            {
                <div class="row thrive-logo-container">
                    <img class="thrive-logo" alt="Revolutionary Games Logo"
                         src="https://thrive-media.b-cdn.net/d8b0d013-99eb-4df5-825c-a60eecf959df/Header-3.png"/>
                </div>
            }
            <div class="row">
                Top bar nav links here
            </div>
            <div class="row gx-5">
                <div class="col-md-8 main-page pt-4">
                    @if (ViewBag.Title != null)
                    {
                        <h1>@ViewData["Title"]</h1>
                        <hr/>
                    }

                    @RenderBody()
                </div>
                <div class="col-md-4">
                    <p>Sidebar</p>
                </div>
            </div>
            <div class="row rendered-by">
                Rendered by @ViewBag.Renderer in @ViewBag.Duration ms at @ViewBag.GeneratedAt. Last edited
                @(((DateTime)ViewBag.UpdatedAt).ToString("R", CultureInfo.InvariantCulture)).
                Website © @(DateTime.UtcNow.Year) - Revolutionary Games Studio
            </div>
        </article>
    </main>
</div>
</body>

</html>
