@using RevolutionaryWebApp.Shared.Models.Pages

<form>
    <div class="row">
        <div class="mb-3 col-md-12">
            <label class="form-label me-1" for="@($"editedPage{Data.Id}Visibility")">Update Page Visibility</label>
            <select class="form-select" id="@($"editedPage{Data.Id}Visibility")" @bind="Data.Visibility"
                    @bind:after="@ReportChanges">
                @foreach (var name in Enum.GetNames<PageVisibility>())
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>
    </div>

    @if (originalVisibility != Data.Visibility)
    {
        <p>Page visibility will change!</p>

        @if (Data.Visibility == PageVisibility.HiddenDraft)
        {
            <p>This page will become a draft again and will not be visible to the public anymore with its link</p>
        }
        else if (Data.Visibility == PageVisibility.Public)
        {
            <p>
                This page will be <strong>PUBLISHED</strong>! If this is the first time this is published, publish
                actions will run.
            </p>

            <p> Permalink will be automatically set, but you can set it manually below
                (it should be <c>for-example-like-this</c>):
            </p>

            <div class="row">
                <div class="mb-3 col-md-12">
                    <label class="form-label me-1" for="@($"editedPage{Data.Id}PublishLink")">Permalink</label>
                    <input type="text" class="form-control" id="@($"editedPage{Data.Id}PublishLink")" @bind="Data.Permalink"
                           @bind:after="@ReportChanges"
                           placeholder="Permalink (optional)">
                    <div class="form-text">Permalink is usually recommended to be left blank to automatically generate</div>
                </div>
            </div>

            <p>
                Changing the permalink after publishing should basically be <strong>never</strong> done as that breaks
                all existing links anywhere to the page.
            </p>
        }
        else
        {
            <p>Note that this visibility type is experimental and shouldn't be used</p>
        }
    }
</form>


@code {
    private PageVisibility? originalVisibility;

    [Parameter]
    [EditorRequired]
    public VersionedPageDTO Data { get; set; } = null!;

    [Parameter]
    public Action? OnPropertiesChanged { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        originalVisibility ??= Data.Visibility;
    }

    private void ReportChanges()
    {
        OnPropertiesChanged?.Invoke();
    }

}
