@inject HttpClient Http
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Shared

@if (showForm)
{
    <EditForm EditContext="@editContext" OnValidSubmit="@Save">
        <DataAnnotationsValidator />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="@($"editFirstNames-{Data.Id}")">First Name(s)</label>
                <CustomInputText class="form-control" id="@($"editFirstNames-{Data.Id}")"
                                 @bind-Value="editedData!.FirstNames" placeholder="First names"
                                 DisplayName="First Name(s)" />
            </div>
            <div class="form-group col-md-6">
                <label for="@($"editLastNames-{Data.Id}")">Last Name</label>
                <CustomInputText class="form-control" id="@($"editLastNames-{Data.Id}")"
                                 @bind-Value="editedData!.LastName" placeholder="Last name"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-8">
                <label for="@($"editCity-{Data.Id}")">City of Residence</label>
                <CustomInputText class="form-control" id="@($"editCity-{Data.Id}")"
                                 @bind-Value="editedData!.CityOfResidence" placeholder="City of Residence"
                                 DisplayName="City of Residence" />
            </div>
            <div class="form-group col-md-4">
                <label for="@($"editCountry-{Data.Id}")">Country</label>
                <CustomInputText class="form-control" id="@($"editCountry-{Data.Id}")"
                                 @bind-Value="editedData!.CountryOfResidence" placeholder="Country"
                                 DisplayName="Country" />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="@($"editJoinDate-{Data.Id}")">Join Date</label>
                <InputDate class="form-control" id="@($"editJoinDate-{Data.Id}")" @bind-Value="editedData!.JoinDate"/>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <div class="form-check">
                    <InputCheckbox class="form-check-input" type="checkbox" id="@($"editIsBoardMember-{Data.Id}")"
                                   @bind-Value="editedData!.BoardMember" />
                    <label class="form-check-label" for="@($"editIsBoardMember-{Data.Id}")">
                        Association Board Member
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <InputCheckbox class="form-check-input" type="checkbox" id="@($"editHasBeenBoardMember-{Data.Id}")"
                                   @bind-Value="editedData!.HasBeenBoardMember" />
                    <label class="form-check-label" for="@($"editHasBeenBoardMember-{Data.Id}")">
                        Has Been a Board Member
                    </label>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-check">
                    <InputCheckbox class="form-check-input" type="checkbox" id="@($"editThriveDeveloper-{Data.Id}")"
                                   @bind-Value="editedData!.IsThriveDeveloper" />
                    <label class="form-check-label" for="@($"editThriveDeveloper-{Data.Id}")">
                        Is a Thrive Developer
                    </label>
                </div>
            </div>
        </div>

        <ValidationSummary />

        <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" />
        <Button class="my-1 mr-1" Enabled="@(!processing)" type="submit" Spinner="@processing"
                ButtonStyle="primary">
            Save
        </Button>
        <Button ButtonStyle="secondary" OnPressed="@Cancel">
            Cancel
        </Button>
    </EditForm>
}
else
{
    <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" OnClosed="@HideStatusMessage" />

    <Button Enabled="@true" ButtonStyle="secondary" OnPressed="@ShowForm">Edit</Button>
}

@code {

    private bool showForm;
    private bool processing;
    private string? statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    private EditContext editContext = null!;

    private AssociationMemberDTO? editedData;

    [Parameter]
    [EditorRequired]
    public AssociationMemberDTO Data { get; set; } = null!;

    private void ShowForm()
    {
        editedData = Data.Clone();
        editedData.JoinDate = editedData.JoinDate.ToLocalTime();

        statusMessage = null;
        showForm = true;

        editContext = new(editedData);
    }

    private void Cancel()
    {
        showForm = false;
    }

    private void HideStatusMessage()
    {
        statusMessage = null;
    }

    private async Task Save()
    {
        processing = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            var dataToSend = editedData!.Clone();
            dataToSend.JoinDate = dataToSend.JoinDate.ToUniversalTime();

            result = await Http.PutAsJsonAsync($"api/v1/AssociationMember/{Data.Id}", editedData);
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "Changes saved. Note that data on this page doesn't refresh automatically.";
            statusMessageType = SiteNoticeType.Primary;
            showForm = false;
        }

        await InvokeAsync(StateHasChanged);
    }

}
