@inject HttpClient http
@using ThriveDevCenter.Shared.Models.Enums
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Forms
@using ThriveDevCenter.Shared.Models

<EditForm EditContext="@editContext" OnValidSubmit="@CreateNew">
    <DataAnnotationsValidator />

    <div class="form-row">
        <div class="form-group col-md-4">
            <label class="mr-1" for="bulkRecipientMode">Recipients Mode</label>
            <InputSelect class="custom-select" id="bulkRecipientMode" @bind-Value="request.RecipientsMode">
                @foreach (var name in Enum.GetNames<BulkEmailRecipientsMode>())
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group col-md-4">
            <label class="mr-1" for="bulkIgnoreMode">Ignored Recipients</label>
            <InputSelect class="custom-select" id="bulkIgnoreMode" @bind-Value="request.IgnoreMode">
                @foreach (var name in Enum.GetNames<BulkEmailIgnoreMode>())
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
        </div>
        <div class="form-group col-md-4">
            <label class="mr-1" for="bulkReplyMode">Reply-To Mode</label>
            <InputSelect class="custom-select" id="bulkReplyMode" @bind-Value="request.ReplyMode">
                @foreach (var name in Enum.GetNames<BulkEmailReplyToMode>())
                {
                    <option value="@name">@name</option>
                }
            </InputSelect>
        </div>
    </div>

    @if (request.RecipientsMode == BulkEmailRecipientsMode.ManualList)
    {
        <div class="form-row">
            <div class="form-group col-12">
                <CustomInputTextArea class="form-control" @bind-Value="request.ManualRecipients"
                               rows="15" placeholder="Manual recipients (one email per line)">
                </CustomInputTextArea>
            </div>
        </div>
    }

    <div class="form-row">
        <div class="form-group col-12">
            <label for="bulkEmailTitle">Title</label>
            <CustomInputText class="form-control" id="bulkEmailTitle" @bind-Value="request.Title"
                       placeholder="Email title" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12">
            <label for="bulkEmailPlainBody">Plain Text Body</label>
            <CustomInputTextArea class="form-control" id="bulkEmailPlainBody" @bind-Value="request.PlainBody" rows="10"
                placeholder="Plain text body"></CustomInputTextArea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="bulkEmailHTMLBody">HTML Body</label>
            <CustomInputTextArea class="form-control" id="bulkEmailHTMLBody" @bind-Value="request.HTMLBody" rows="15"
                placeholder="HTML version of the message body"></CustomInputTextArea>
        </div>
        <div class="form-group col-md-6">
            <label for="bulkEmailHTMLPreview">Preview</label>
            <div id="bulkEmailHTMLPreview">
                @((MarkupString)request.HTMLBody)
            </div>
        </div>
    </div>

    <ValidationSummary />

    <StatusMessageShower Message="@createMessage" Type="@createMessageType" />
    <Button class="my-1" Enabled="@(!processing)" type="submit" Spinner="@processing"
            ButtonStyle="warning">
        Send
    </Button>
</EditForm>

@code {
    private string createMessage;
    private SiteNoticeType createMessageType;
    private bool processing;

    private EditContext editContext;

    private BulkEmailSendRequestForm request;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        request = new BulkEmailSendRequestForm();
        ClearForm();

        editContext = new(request);
    }

    private void ClearForm()
    {
        request.RecipientsMode = BulkEmailRecipientsMode.ManualList;
        request.IgnoreMode = BulkEmailIgnoreMode.Nobody;
        request.ReplyMode = BulkEmailReplyToMode.SendingUser;
        request.Title = null;
        request.ManualRecipients = null;
        request.PlainBody = null;
        request.HTMLBody = null;
    }

    private async void CreateNew()
    {
        processing = true;
        createMessage = null;
        createMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await http.PostAsJsonAsync("api/v1/BulkEmail", request);
        }
        catch (HttpRequestException e)
        {
            createMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            createMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            createMessage = "Bulk email sent";
            createMessageType = SiteNoticeType.Info;

            ClearForm();
        }

        await InvokeAsync(StateHasChanged);
    }
}
