@using RevolutionaryWebApp.Shared
@using System.Text.Json
@using SharedBase.Utilities
@using RevolutionaryWebApp.Client.Utilities
@using RevolutionaryWebApp.Shared.Converters
@using RevolutionaryWebApp.Shared.Forms
@using RevolutionaryWebApp.Shared.Models
@inject HttpClient Http

@if (visible)
{
    <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" />

    <div>
        Github webhook secret is:
        @if (loading)
        {
            <span class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        }
        else
        {
            <span>@secret</span>
        }
    </div>
    <Button OnPressed="@ToggleShow" class="me-1">Hide</Button>
    <Button OnPressed="@RecreateSecret" ButtonStyle="warning" Enabled="@(!processing)" Spinner="@processing">
        Recreate
    </Button>
}
else
{
    <Button OnPressed="@ToggleShow" ButtonStyle="primary">Show Secret</Button>
}

@code {
    private string? statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    private bool visible;
    private bool loading;
    private string? secret;
    private bool processing;

    private async Task ToggleShow()
    {
        visible = !visible;

        if (visible)
            await FetchSecret();
    }

    private async Task FetchSecret()
    {
        loading = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        try
        {
            secret = (await Http.GetFromJsonAsync<GithubWebhookDTO>("api/v1/GithubConfiguration/viewSecret")
                ?? throw new NullDecodedJsonException()).Secret;
        }
        catch (Exception e)
        {
            statusMessage = $"Failed to retrieve the secret: {e.Message}";
            secret = null;
        }

        loading = false;

        await InvokeAsync(StateHasChanged);
    }

    private async Task RecreateSecret()
    {
        processing = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync("api/v1/GithubConfiguration/recreateSecret", new StringContent(string.Empty));
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        var content = await result.Content.ReadAsStringAsync();
        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "Secret recreated";
            statusMessageType = SiteNoticeType.Info;

            try
            {
                secret = (JsonSerializer.Deserialize<GithubWebhookDTO>(content,
                    HttpClientHelpers.GetOptionsWithSerializers()) ?? throw new NullDecodedJsonException()).Secret;
            }
            catch (Exception e)
            {
                statusMessage = $"Error parsing server response: {e}";
            }
        }

        await InvokeAsync(StateHasChanged);
    }

}
