@inject HttpClient Http
@inject NotificationHandler NotificationHandler
@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Notifications
@using System.Threading
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Client.Utilities
@using RevolutionaryWebApp.Client.Models
@using RevolutionaryWebApp.Shared.Models.Enums
@using SharedBase.Utilities
@implements RevolutionaryWebApp.Client.Services.INotificationHandler<RemoteRunnersUpdated>
@inherits PaginatedPage<RevolutionaryWebApp.Shared.Models.RemoteRunnerDTO>

<AccessLimited RequiredAccess="GroupType.Admin" RedirectOnInsufficientPermission="@true">
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger" role="alert">
            @Error
        </div>
    }
    else
    {
        <StatusMessageShower Message="@message" Type="@messageType" OnClosed="CloseMessage"/>

        <PaginatedTable ShowPaginator="@(Data != null)" CurrentPage="@Data?.CurrentPage" PageCount="@Data?.PageCount"
                        OnPageChanged="async e => await ChangePage(e)"
                        OnSortChanged="async column => await ChangeSort(column)"
                        GetSortClass="@SortClass"
                        ShowContentSpinner="@VisibleFetchInProgress"
                        Columns="@columns"
                        ShowNoContent="@NoItemsFound"
                        UseNonFixedColumns="@true"
                        ShowHoverHighlight="@false">
            @if (Data != null)
            {
                @foreach (var item in Data.Results)
                {
                    if (clientSideResourceStatus.IsDeleted(item.Id))
                        continue;

                    var status = clientSideResourceStatus.GetStatus(item.Id);

                    <tr @key="item.Id">
                        <td @onclick="() => ToggleDetails(item)" class="clickable">
                            <ItemExpander Expanded="@status.Expanded"/>
                            <span class="ms-1">@item.Id</span>
                        </td>
                        <td>@item.Priority</td>
                        <td>@item.Name.Truncate()</td>
                        <td>@item.LastIpAddress</td>
                        <td>@item.LastTriggeredError.Truncate()</td>
                        <td>@item.ReservedJobId</td>
                        <td>
                            @if (item.DisallowJobs)
                            {
                                <span class="badge bg-danger">Disabled</span>
                            }
                            else if (item.LastHeartbeat == null || item.LastHeartbeat.Value.AddMinutes(5) < DateTime.UtcNow)
                            {
                                <span class="badge bg-warning">Offline</span>
                            }
                            else if (item.LastHeartbeat != null && item.LastHeartbeat.Value.AddMinutes(5) > DateTime.UtcNow)
                            {
                                <span class="badge bg-success">Ready</span>
                            }
                        </td>
                        <td>@item.TotalJobsTaken</td>
                        <td>
                            @if (item.LastHeartbeat.HasValue)
                            {
                                <RecentTimeShortener Time="@item.LastHeartbeat.Value" IncludeSeconds="@true"/>
                            }
                            else
                            {
                                <span>Never</span>
                            }
                        </td>
                        <td>@item.QueuedCleanUp</td>
                        <td>
                            <Button Enabled="@(!IsProcessing(item.Id) && false)"
                                    OnPressed="@(async () => await QueueCleanUp(item.Id))"
                                    Spinner="@IsProcessing(item.Id)" ButtonStyle="secondary" class="btn-sm me-1">
                                Queue Clean
                            </Button>
                            @if (!item.DisallowJobs)
                            {
                                <Button Enabled="@(!IsProcessing(item.Id))"
                                        OnPressed="@(async () => await SetManualStatus(item.Id, true))"
                                        Spinner="@IsProcessing(item.Id)" ButtonStyle="warning" class="btn-sm">
                                    Set Offline
                                </Button>
                            }
                            else
                            {
                                <Button Enabled="@(!IsProcessing(item.Id))"
                                        OnPressed="@(async () => await SetManualStatus(item.Id, false))"
                                        Spinner="@IsProcessing(item.Id)" ButtonStyle="primary" class="btn-sm">
                                    Set Online
                                </Button>
                            }
                        </td>
                    </tr>

                    @if (status.Expanded)
                    {
                        var key = $"{item.Id}-details";
                        var hasExtra = extraInfoRelatedToConnections.TryGetValue(item.Id, out var extraDataString);

                        @* TODO: firefox once again complains here about that relative now has an effect here *@
                        <tr @key="key" style="position: relative;">
                            <td colspan="@columns.Count" class="mb-2 expanded-box">
                                @* TODO: remove the flex-wrap if it causes problems *@
                                <form class="me-2 mb-2">
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="@($"{item.Id}-name")">Name</label>
                                            <input type="text" class="form-control" id="@($"{item.Id}-name")"
                                                   @bind="item.Name">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="@($"{item.Id}-priority")">Priority</label>
                                            <select class="form-select ms-1" @bind="@item.Priority"
                                                    id="@($"{item.Id}-priority")">
                                                @foreach (int value in Enumerable.Range(AppInfo.MinExternalServerPriority,
                                                                  AppInfo.MaxExternalServerPriority -
                                                                  AppInfo.MinExternalServerPriority + 1))
                                                {
                                                    <option value="@value">@value</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="@($"{item.Id}-description")">Description
                                                (optional)</label>
                                            <input type="text" class="form-control" id="@($"{item.Id}-description")"
                                                   @bind="item.Description">
                                        </div>
                                        <div class="mb-3 col-md-6">
                                            <label class="form-label" for="@($"{item.Id}-tags")">Tags (optional)</label>
                                            <input type="text" class="form-control" id="@($"{item.Id}-tags")"
                                                   @bind="item.Tags">
                                        </div>
                                    </div>
                                </form>

                                <p>
                                    @item.LastTriggeredError
                                </p>

                                <p>
                                    <strong>Updated at:</strong>
                                    <RecentTimeShortener Time="@item.UpdatedAt" IncludeSeconds="@true"/>
                                    <strong>Created at:</strong> @item.CreatedAt.ToLocalTime().ToString("G")
                                    <br/>
                                    <strong>Jobs prevented:</strong> @item.DisallowJobs
                                    <strong>Active connection:</strong> @item.CurrentConnectionId
                                    <br/>
                                    Note: changes won't persist without pressing the save button after editing.
                                </p>

                                <p>
                                    To connect this runner, you need the access key and a secret token. The token
                                    cannot be viewed again (it was shown on creation, but it can be recreated).
                                    <br/>
                                    <Button Enabled="@(!IsProcessing(item.Id))"
                                            OnPressed="@(async () => await DisplayAccessKey(item.Id))"
                                            Spinner="@IsProcessing(item.Id)" ButtonStyle="secondary"
                                            class="btn-sm me-1">
                                        View Connection Key
                                    </Button>
                                    <Button Enabled="@(!IsProcessing(item.Id))"
                                            OnPressed="@(async () => await VerifyRegenerateKey(item))"
                                            Spinner="@IsProcessing(item.Id)" ButtonStyle="danger" class="btn-sm me-1">
                                        Regenerate Secret
                                    </Button>
                                </p>

                                @if (hasExtra)
                                {
                                    <p>
                                        @extraDataString
                                    </p>
                                }

                                <StatusMessageShower Message="@message" Type="@messageType" OnClosed="CloseMessage"/>

                                <span class="float-end">
                                    <Button Enabled="@(!IsProcessing(item.Id))"
                                            OnPressed="@(async () => await UpdateData(item))"
                                            Spinner="@IsProcessing(item.Id)" ButtonStyle="primary" class="btn-sm me-2">
                                        Save Changes
                                    </Button>
                                    <Button Enabled="@CanDelete(item)"
                                            OnPressed="@(async () => await VerifyDeleteServer(item))"
                                            Spinner="@IsProcessing(item.Id)" ButtonStyle="danger" class="btn-sm ms-1">
                                        Delete
                                    </Button>
                                </span>
                                @if (status.Processing)
                                {
                                    <div class="overlay">
                                        <div class="d-flex justify-content-center align-items-center"
                                             style="height: 100%;">
                                            <div class="spinner-border text-light" role="status">
                                                <span class="visually-hidden">Processing...</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
            }
        </PaginatedTable>
    }

    <br/>

    @if (!showNewForm)
    {
        <StatusMessageShower Message="@createMessage" Type="@createMessageType"/>
    }

    <Button class="mb-3 me-1" ButtonStyle="success" OnPressed="@ToggleCreateNew" Enabled="@(!processingNewForm)">
        New
    </Button>

    @if (showNewForm)
    {
        <form>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="newRemoteRunnerName">Name</label>
                    <input type="text" class="form-control" id="newRemoteRunnerName" @bind="newName"
                           @bind:event="oninput">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="newExternalPriority">Priority</label>
                    <select class="form-select ms-1" @bind="newPriority" id="newExternalPriority">
                        @foreach (int value in Enumerable.Range(AppInfo.MinExternalServerPriority,
                                          AppInfo.MaxExternalServerPriority - AppInfo.MinExternalServerPriority + 1))
                        {
                            <option value="@value">@value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="newRemoteRunnerDescription">Description (optional)</label>
                    <input type="text" class="form-control" id="newRemoteRunnerDescription" @bind="newDescription">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="newRemoteRunnerTags">Tags (optional)</label>
                    <input type="text" class="form-control" id="newRemoteRunnerTags" @bind="newTags">
                </div>
            </div>

            <StatusMessageShower Message="@createMessage" Type="@createMessageType"/>
            <Button class="my-1" Enabled="@CanCreateNew" OnPressed="@CreateNew" Spinner="@processingNewForm">
                Create
            </Button>
        </form>
    }

</AccessLimited>

@code {

    private readonly List<TableColumn> columns =
    [
        new("Id", true),
        new("Priority", true),
        new("Name", true),
        new("Last IP Address", false),
        new("Last Error", false),
        new("Running Job", false),
        new("Status", true, "DisallowJobs"),
        new("Total Runs", true, "TotalJobsTaken"),
        new("Heartbeat", false),
        new("Queued Clean", false),
        new("Actions", false),
    ];

    private readonly ClientSideResourceStatus<ExpandableResourceStatus> clientSideResourceStatus = new();

    private readonly Dictionary<long, string> extraInfoRelatedToConnections = new();

    private string? message;
    private SiteNoticeType messageType = SiteNoticeType.Danger;

    private string? createMessage;
    private SiteNoticeType createMessageType;

    private bool showNewForm;
    private bool processingNewForm;
    private string? newName;
    private string? newDescription;
    private string? newTags;
    private int newPriority;

    private bool CanCreateNew => !processingNewForm && !string.IsNullOrEmpty(newName);

    [CascadingParameter]
    public IModalService Modal { get; set; } = null!;

    public JobRunners() : base(new SortHelper("Id", SortDirection.Ascending))
    {
    }

    protected override async Task OnInitializedAsync()
    {
        await NotificationHandler.Register(this);
        await base.OnInitializedAsync();
    }

    public Task Handle(RemoteRunnersUpdated notification, CancellationToken cancellationToken)
    {
        return HandleItemNotification(notification);
    }

    public void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.RemoteRunnersUpdated);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        await NotificationHandler.Unregister(this);
    }

    protected override Task<PagedResult<RemoteRunnerDTO>?> StartQuery(Dictionary<string, string?> requestParams)
    {
        return Http.GetFromJsonAsync<PagedResult<RemoteRunnerDTO>>(QueryHelpers.AddQueryString("api/v1/RemoteRunners", requestParams));
    }

    private bool IsProcessing(long serverId)
    {
        if (!clientSideResourceStatus.HasStatus(serverId))
            return false;

        return clientSideResourceStatus.GetStatus(serverId).Processing;
    }

    private void SetProcessingStatus(long serverId, bool processing)
    {
        clientSideResourceStatus.GetStatus(serverId).Processing = processing;
    }

    private bool CanDelete(RemoteRunnerDTO server)
    {
        if (IsProcessing(server.Id))
            return false;

        return server.DisallowJobs && string.IsNullOrEmpty(server.ReservedJobId);
    }

    private async Task VerifyDeleteServer(RemoteRunnerDTO server)
    {
        var parameters = new ModalParameters
        {
            { nameof(ConfirmDelete.Name), $"Job Runner {server.Name.Truncate()} ({server.Id})" },
        };

        var modal = Modal.Show<ConfirmDelete>("Delete runner?", parameters);

        var result = await modal.Result;

        if (result.Cancelled)
            return;

        await DeleteServer(server.Id);
    }

    private async Task QueueCleanUp(long serverId)
    {
        // TODO: this is not implemented on the server-side again yet!
        SetProcessingStatus(serverId, true);
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/RemoteRunners/{serverId}/queueCleanUp",
                new StringContent(string.Empty));
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            SetProcessingStatus(serverId, false);
            await InvokeAsync(StateHasChanged);
            return;
        }

        SetProcessingStatus(serverId, false);

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            message = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            message = "Clean queued on server successfully. It will be cleaned next time it doesn't have a job";
            messageType = SiteNoticeType.Primary;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task SetManualStatus(long serverId, bool offline)
    {
        SetProcessingStatus(serverId, true);
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/RemoteRunners/{serverId}/offline?offline={offline}",
                new StringContent(string.Empty));
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            SetProcessingStatus(serverId, false);
            await InvokeAsync(StateHasChanged);
            return;
        }

        SetProcessingStatus(serverId, false);

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            message = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            message = "Set new jobs allowed status";
            messageType = SiteNoticeType.Primary;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task DeleteServer(long serverId)
    {
        SetProcessingStatus(serverId, true);
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.DeleteAsync($"api/v1/RemoteRunners/{serverId}");
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            SetProcessingStatus(serverId, false);
            await InvokeAsync(StateHasChanged);
            return;
        }

        SetProcessingStatus(serverId, false);

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            message = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            message = "Runner deleted";
            messageType = SiteNoticeType.Warning;
            clientSideResourceStatus.SetDeletedStatus(serverId);
        }

        await InvokeAsync(StateHasChanged);
    }

    private void ToggleCreateNew()
    {
        if (showNewForm)
        {
            showNewForm = false;
        }
        else
        {
            showNewForm = true;
            createMessage = null;

            // Reset form status
            newName = null;
            newDescription = null;
            newTags = null;
            newPriority = 0;
        }

        StateHasChanged();
    }

    private async void CreateNew()
    {
        processingNewForm = true;
        createMessage = null;
        createMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsJsonAsync("api/v1/RemoteRunners", new RemoteRunnerDTO(newName ?? string.Empty)
            {
                Priority = newPriority,
                Description = newDescription,
                Tags = newTags?.Trim() ?? string.Empty,
            });
        }
        catch (HttpRequestException e)
        {
            createMessage = $"Network request failed: {e.Message}";
            processingNewForm = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processingNewForm = false;
        var content = await result.Content.ReadAsStringAsync();

        if (!result.IsSuccessStatusCode)
        {
            createMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            createMessage = $"New runner added. {content}";
            createMessageType = SiteNoticeType.Info;

            // Stop showing the form
            showNewForm = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void ToggleDetails(RemoteRunnerDTO server)
    {
        var status = clientSideResourceStatus.GetStatus(server.Id);
        status.Expanded = !status.Expanded;
    }

    private async Task UpdateData(RemoteRunnerDTO server)
    {
        server.Tags = server.Tags.Trim();
        server.Name = server.Name.Trim();

        var status = clientSideResourceStatus.GetStatus(server.Id);
        status.Processing = true;
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PutAsJsonAsync($"api/v1/RemoteRunners/{server.Id}", server);
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            status.Processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        status.Processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();
            message = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            message = "Updated runner details";
            messageType = SiteNoticeType.Primary;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task VerifyRegenerateKey(RemoteRunnerDTO server)
    {
        var parameters = new ModalParameters
        {
            { nameof(ConfirmAction.Name), $"Runner {server.Name.Truncate()}" },
            { nameof(ConfirmAction.ActionVerb), "regenerate" },
            {
                nameof(ConfirmAction.ExtraInfo), "Any existing runner connections using the secret will stay but will " +
                "be unable to reconnect. So potentially revoking the old key is a pretty major headache to " +
                "update it everywhere!"
            },
        };

        var modal = Modal.Show<ConfirmAction>("Regenerate secret?", parameters);

        var result = await modal.Result;

        if (result.Cancelled)
            return;

        await RegenerateSecret(server.Id);
    }

    private async Task RegenerateSecret(long runnerId)
    {
        var status = clientSideResourceStatus.GetStatus(runnerId);
        extraInfoRelatedToConnections[runnerId] = "Loading...";
        status.Processing = true;
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/RemoteRunners/{runnerId}/regenerateSecret", null);
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            status.Processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        status.Processing = false;
        var content = await result.Content.ReadAsStringAsync();

        if (!result.IsSuccessStatusCode)
        {
            message = $"Error, server responded with: {content}, {result.StatusCode}";
            extraInfoRelatedToConnections[runnerId] = "Error";
        }
        else
        {
            message = "Secret was regenerated. Switch the runner to use the new secret.";
            messageType = SiteNoticeType.Warning;
            extraInfoRelatedToConnections[runnerId] = content;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task DisplayAccessKey(long runnerId)
    {
        var status = clientSideResourceStatus.GetStatus(runnerId);
        extraInfoRelatedToConnections[runnerId] = "Loading...";
        status.Processing = true;
        message = null;
        messageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/RemoteRunners/{runnerId}/readAccessKey", null);
        }
        catch (HttpRequestException e)
        {
            message = $"Network request failed: {e.Message}";
            status.Processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        status.Processing = false;
        var content = await result.Content.ReadAsStringAsync();

        if (!result.IsSuccessStatusCode)
        {
            message = $"Error, server responded with: {content}, {result.StatusCode}";
            extraInfoRelatedToConnections[runnerId] = "Error";
        }
        else
        {
            extraInfoRelatedToConnections[runnerId] = content;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void CloseMessage()
    {
        message = null;
    }

}
