@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject ComponentUrlHelper URLHelper
@inject NotificationHandler NotificationHandler
@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Notifications
@using System.Threading
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Models.Enums
@implements RevolutionaryWebApp.Client.Services.INotificationHandler<PatronListUpdated>
@inherits PaginatedPage<RevolutionaryWebApp.Shared.Models.PatronDTO>
<h3>Patrons</h3>

@if (!string.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger" role="alert">
        @Error
    </div>
}
else
{
    <AccessLimited RequiredAccess="GroupType.Admin" RedirectOnInsufficientPermission="true">
        <PaginatedTable ShowPaginator="@(Data != null)" CurrentPage="@Data?.CurrentPage" PageCount="@Data?.PageCount"
                        OnPageChanged="async e => await ChangePage(e)"
                        OnSortChanged="async column => await ChangeSort(column)"
                        GetSortClass="@SortClass"
                        ShowContentSpinner="@VisibleFetchInProgress"
                        Columns="@columns"
                        ShowNoContent="@NoItemsFound"
                        ResponsiveType="table-responsive-lg">
            @if (Data != null)
            {
                @foreach (var item in Data.Results)
                {
                    <tr @key="item.Id">
                        <th scope="row" class="text-nowrap">@item.Email</th>
                        <td>@item.Suspended</td>
                        <td>@item.Username</td>
                        <td>@item.PledgeAmountCents</td>
                        <td>@item.EmailAlias</td>
                        <td>@item.HasForumAccount</td>
                        <td>
                            @if (item.HasAccountOnDevCenter != null)
                            {
                                @if (item.HasAccountOnDevCenter.Value)
                                {
                                    <span class="badge bg-success">yes</span>
                                }
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                    </tr>
                }
            }
        </PaginatedTable>
    </AccessLimited>
}

@code {
    private readonly List<TableColumn> columns = new()
    {
        new TableColumn("Email", true),
        new TableColumn("Suspended", true),
        new TableColumn("Username", true),
        new TableColumn("Pledge Cents", true, "PledgeAmountCents"),
        new TableColumn("Alias", true, "EmailAlias"),
        new TableColumn("Forum Account?", false),
        new TableColumn("Patreon Login?", false),
    };

    public PatronsList() : base(new SortHelper("Id", SortDirection.Descending))
    {
    }

    protected override async Task OnInitializedAsync()
    {
        await NotificationHandler.Register(this);
        await base.OnInitializedAsync();
    }

    public Task Handle(PatronListUpdated notification, CancellationToken cancellationToken)
    {
        return HandleItemNotification(notification);
    }

    public void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        // TODO: this notification group currently isn't called at all
        groups.Add(NotificationGroups.PatronListUpdated);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        await NotificationHandler.Unregister(this);
    }

    protected override Dictionary<string, string?> CreatePageRequestParams()
    {
        var result = base.CreatePageRequestParams();

        result["includeAccountStatus"] = "true";

        return result;
    }

    protected override Task<PagedResult<PatronDTO>?> StartQuery(Dictionary<string, string?> requestParams)
    {
        return Http.GetFromJsonAsync<PagedResult<PatronDTO>>(
            QueryHelpers.AddQueryString("api/v1/Patrons", requestParams));
    }
}
