@page "/association/meetings/{Id:long}"
@inject HttpClient Http
@inject NotificationHandler NotificationHandler
@inject CurrentUserInfo CurrentUserInfo
@inherits SingleResourcePage<MeetingDTO, MeetingUpdated>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Client.Utilities
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Notifications
@using System.Net
@using ThriveDevCenter.Shared.Models.Enums
@implements IAsyncDisposable

<SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
    @if (Data != null)
    {
        <h3>Meeting: @Data.Name</h3>

        <ul>
            <li><strong>Starts At</strong>: @Data.StartsAt.ToLocalTime().ToString("G")</li>
            <li><strong>Ended At</strong>: @(Data.EndedAt.HasValue ? Data.EndedAt.Value.ToLocalTime().ToString("G")
                                               : "Not ended")</li>
            <li><strong>Expected Duration</strong>: @Data.ExpectedDuration</li>
            <li><strong>Joinable By</strong>: @Data.JoinAccess</li>
            <li><strong>Visible To</strong>: @Data.ReadAccess</li>
            <li><strong>Owner</strong>: <UsernameDisplayer UserId="@Data.OwnerId"/></li>
            <li><strong>Chairman</strong>: <UsernameDisplayer UserId="@Data.ChairmanId"/></li>
            <li><strong>Join Grace Period After Start</strong>: @Data.JoinGracePeriod</li>
            <li><strong>Read Only</strong>: @Data.ReadOnly</li>
            @* TODO: implement *@
            <li><strong>Secretary</strong>: @Data.SecretaryId</li>
        </ul>

        @if (CanControl)
        {
            @if (!showChairmanChanger)
            {
                <Button Enabled="@(!IsEnded && !processingAction)" ButtonStyle="warning" class="mb-1"
                        Spinner="@processingAction" OnPressed="@ToggleShowChairmanChanger">
                    Change Chairman
                </Button>
            }
            else
            {
                <UserPicker Selected="@newChairman" OnSelected="@OnNewChairmanPicked" />

                <Button Enabled="@(!IsEnded && !processingAction && newChairman != null)"
                        ButtonStyle="warning" class="mb-1 mr-1" Spinner="@processingAction"
                        OnPressed="@SetNewChairman">
                    Change Chairman
                </Button>

                <Button Enabled="@(!processingAction)" ButtonStyle="secondary" class="mb-1"
                        OnPressed="@ToggleShowChairmanChanger">
                    Cancel
                </Button>
            }

            <br />
        }

        <h3>Description</h3>

        <p>@Data.Description</p>

        <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" OnClosed="@ClearStatusMessage"/>

        <AccessLimited RequiredGroup="GroupType.RestrictedUser" AutoRedirectIfNotLoggedIn="@false">
            @if (!isMemberRetrieved)
            {
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            }
            else if(isMember)
            {
                <Button Enabled="@false" ButtonStyle="danger" class="mb-3" Spinner="@joiningOrLeavingMeeting">
                    Leave
                </Button>
            }
            else
            {
                @* TODO: can join checking here *@
                <Button Enabled="@(!joiningOrLeavingMeeting)" class="mb-3" Spinner="@joiningOrLeavingMeeting"
                        OnPressed="@JoinMeeting">
                    Join
                </Button>
            }

            <br />
        </AccessLimited>

        <h3>Polls</h3>

        <MeetingPolls MeetingId="@Id" CanEdit="@(CanControl && !IsEnded)" />

        <hr />

        <h3>Minutes</h3>
        <p>@Data.Minutes</p>

        @* TODO: implement editing and approving these *@

        <h3>Members</h3>

        @* TODO: show a list of members *@

        <h3>Actions</h3>

        <Button Enabled="@(CanControl && !IsEnded && !processingAction)" ButtonStyle="warning" class="mb-3"
                Spinner="@processingAction" OnPressed="@EndMeeting">
            End Meeting
        </Button>

        <DevCenterTitle>Meeting @Data.Id</DevCenterTitle>
    }
</SingleResourceDisplayer>

@code {
    private string? statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    private bool isMemberRetrieved;
    private bool retrievingMembershipInfo;
    private bool isMember;

    private bool joiningOrLeavingMeeting;
    private bool processingAction;

    private bool showChairmanChanger;
    private long? newChairman;

    private bool CanControl => Data != null && (Data.OwnerId == CurrentUserInfo.Info?.Id || CurrentUserInfo.IsAdmin);
    private bool IsEnded => Data is {EndedAt: { } };

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (CurrentUserInfo.LoggedIn && !isMemberRetrieved && !retrievingMembershipInfo)
        {
            await RetrieveMembershipInfo();
        }
    }

    protected override Task<MeetingDTO?> StartQuery()
    {
        return Http.GetFromJsonAsync<MeetingDTO>($"api/v1/Meetings/{Id}",
            HttpClientHelpers.GetOptionsWithSerializers());
    }

    public override void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.MeetingUpdatedPrefix + Id);
    }

    public async ValueTask DisposeAsync()
    {
        await NotificationHandler.Unregister(this);
    }

    protected override Task OnFirstDataReceived()
    {
        return NotificationHandler.Register(this);
    }

    private async Task RetrieveMembershipInfo()
    {
        retrievingMembershipInfo = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        MeetingMemberDTO? result;

        try
        {
            result = await Http.GetFromJsonAsync<MeetingMemberDTO>(
                $"api/v1/Meetings/{Id}/members/{CurrentUserInfo.Info!.Id}");
        }
        catch (HttpRequestException e)
        {
            if (e.StatusCode == HttpStatusCode.NotFound)
            {
                isMember = false;
            }
            else
            {
                statusMessage = $"Network request failed: {e.Message}";
                await InvokeAsync(StateHasChanged);
            }

            isMemberRetrieved = true;
            retrievingMembershipInfo = false;
            return;
        }

        retrievingMembershipInfo = false;
        isMember = result != null;
        isMemberRetrieved = true;

        await InvokeAsync(StateHasChanged);
    }

    private async void JoinMeeting()
    {
        joiningOrLeavingMeeting = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/Meetings/{Id}/join", new StringContent(string.Empty));
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            joiningOrLeavingMeeting = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        joiningOrLeavingMeeting = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
            isMember = false;
        }
        else
        {
            // Success
            statusMessage = "Joined meeting";
            statusMessageType = SiteNoticeType.Info;
            isMember = true;
            isMemberRetrieved = true;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async void EndMeeting()
    {
        processingAction = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsync($"api/v1/Meetings/{Id}/end", new StringContent(string.Empty));
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processingAction = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processingAction = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            // Success
            statusMessage = "Meeting has been ended";
            statusMessageType = SiteNoticeType.Info;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void ToggleShowChairmanChanger()
    {
        showChairmanChanger = !showChairmanChanger;

        if (!showChairmanChanger)
        {
            newChairman = null;
        }
    }

    private void OnNewChairmanPicked(long user)
    {
        newChairman = user;
        StateHasChanged();
    }

    private async void SetNewChairman()
    {
        statusMessageType = SiteNoticeType.Danger;

        if (newChairman == null)
        {
            statusMessage = "No new chairman picked";
            return;
        }

        processingAction = true;
        statusMessage = null;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PostAsJsonAsync($"api/v1/Meetings/{Id}/chairman",
                newChairman.Value);
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processingAction = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processingAction = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "Meeting chairman has been changed";
            statusMessageType = SiteNoticeType.Info;

            showChairmanChanger = false;
        }

        await InvokeAsync(StateHasChanged);
    }

    private void ClearStatusMessage()
    {
        statusMessage = null;
    }
}
