@inherits ResourceEditorBase<LauncherDownloadMirrorDTO, LauncherDownloadMirrorUpdated, long>
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Models.Enums
@using RevolutionaryWebApp.Shared.Notifications
@implements IAsyncDisposable

@* TODO: firefox once again complains here about that relative now has an effect here *@
<tr @key="ElementIdPrefix" style="position: relative;">
    <td colspan="@ColumnSpan" class="mb-2 expanded-box">
        <SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
            @if (Data != null)
            {
                <LauncherDownloadMirrorDataForm EditContext="@editContext" EditedData="@editedData"
                                                ControlIdSuffix="@Id.ToString()" StatusMessage="@statusMessage"
                                                Processing="@processing" StatusMessageType="@statusMessageType"
                                                OnValidSubmit="@Save" ForExistingResource="@true"/>

                @if (processing)
                {
                    <TableElementProcessingOverlay/>
                }
            }
        </SingleResourceDisplayer>
    </td>
</tr>

@code {
    protected override string ElementIdPrefix => $"{Id}-mirrorDetails";

    protected override Task<LauncherDownloadMirrorDTO?> StartQuery()
    {
        return Http.GetFromJsonAsync<LauncherDownloadMirrorDTO>(
            $"api/v1/LauncherInfoConfiguration/mirrors/{Id}");
    }

    public override void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.LauncherDownloadMirrorUpdatedPrefix + Id);
    }

    protected override LauncherDownloadMirrorDTO CreateEditData(LauncherDownloadMirrorDTO serverData)
    {
        return serverData.Clone();
    }

    protected override string GetSaveEndpoint(LauncherDownloadMirrorDTO serverData)
    {
        return $"api/v1/LauncherInfoConfiguration/mirrors/{serverData.Id}";
    }

}
