@using RevolutionaryWebApp.Shared.Models
@inherits EditFormBase<LauncherDownloadMirrorDTO>
<EditForm EditContext="@EditContext" OnValidSubmit="@OnValidSubmit" class="@(@class)">
    <DataAnnotationsValidator />

    <div class="row">
        @if(!ForExistingResource)
        {
            <div class="mb-3 col-md-6">
                <label class="form-label" for="@($"mirrorFormInternalName-{ControlIdSuffix}")">Internal Name</label>
                <CustomInputText class="form-control" id="@($"mirrorFormInternalName-{ControlIdSuffix}")"
                                 @bind-Value="EditedData.InternalName"
                                 placeholder="Internal Name (used to refer to this mirror)"/>
            </div>
        }
        <div class="mb-3 col-md-6">
            <label class="form-label" for="@($"mirrorFormReadableName-{ControlIdSuffix}")">Readable Name</label>
            <CustomInputText class="form-control" id="@($"mirrorFormReadableName-{ControlIdSuffix}")"
                             @bind-Value="EditedData.ReadableName"
                             placeholder="Readable Name (shown to users)"/>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-md-12">
            <label class="form-label" for="@($"mirrorFormInfoLink-{ControlIdSuffix}")">Info URL for users to visit this mirror</label>
            <CustomInputText class="form-control" id="@($"mirrorFormInfoLink-{ControlIdSuffix}")"
                             @bind-Value="EditedData.InfoLink" placeholder="Info Url"/>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-md-12">
            <label class="form-label" for="@($"mirrorFormBannerImage-{ControlIdSuffix}")">Banner Image Url (optional)</label>
            <CustomInputText class="form-control" id="@($"mirrorFormBannerImage-{ControlIdSuffix}")"
                             @bind-Value="EditedData.BannerImageUrl" placeholder="Url to image (optional)"/>
        </div>
    </div>

    <div class="row">
        <div class="mb-3 col-md-12">
            <label class="form-label" for="@($"mirrorFormDescription-{ControlIdSuffix}")">
                Customized mirror description shown to users when downloading (optional)
            </label>
            <CustomInputText class="form-control" id="@($"mirrorFormDescription-{ControlIdSuffix}")"
                             @bind-Value="EditedData.ExtraDescription" placeholder="Custom description (optional)"/>
        </div>
    </div>


    <ValidationSummary />

    <StatusMessageShower Message="@StatusMessage" Type="@StatusMessageType" />
    <Button class="my-1 me-1" Enabled="@(!Processing)" type="submit" Spinner="@Processing" ButtonStyle="primary">
        @SaveButtonText
    </Button>

    @ChildContent
</EditForm>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool ForExistingResource { get; set; }
}
