@page "/builds"
@using ThriveDevCenter.Shared.Models.Enums
@inject NavigationManager Navigation

<DevBuildOverallStatistics />

<br />

<h3>DevBuilds</h3>

<p>
    DevBuilds are preview versions of Thrive with new features and fixes that have been done after the previous release.
</p>
<AccessLimited RequiredGroup="GroupType.User" AutoRedirectIfNotLoggedIn="@false">
    <AccessMissingContent>
        <a href="@Navigation.GetLinkToLogin("Login to view DevBuilds")">Login to view builds</a>

        <LoggedInContent>
            <div>Your account does not have access to DevBuilds</div>
        </LoggedInContent>
    </AccessMissingContent>
    <AuthorizedContent>
        <h4>Build of the Day (BOTD)</h4>
        <DevBuildList BuildType="@DevBuildSearchType.BOTD" DefaultPageSize="70" />

        <h4>Trusted Builds</h4>
        <p>
            These devbuilds are created from each commit in the official Thrive repository, and are safe as long as the
            repository security is not compromised.
        </p>
        <DevBuildList BuildType="@DevBuildSearchType.NonAnonymous" UseQueryParams="@true" DefaultPageSize="70" />

        <h4>Untrusted Builds</h4>
        <p>
            These devbuilds have been uploaded without authentication. As such these files should not be trusted without
            scrutiny. For example pull requests from people outside the team show up here. The verified column says
            true, when a Thrive developer has verified the build.
        </p>
        <DevBuildList BuildType="@DevBuildSearchType.Anonymous" DefaultPageSize="20" />
    </AuthorizedContent>
</AccessLimited>

<DevCenterTitle>DevBuilds</DevCenterTitle>

@code {

}
