@page "/builds/{Id:long}"
@inject HttpClient http
@inject NotificationHandler notificationHandler
@inject NavigationManager navigationManager
@inject CurrentUserInfo currentUserInfo
@inherits SingleResourcePage<DevBuildDTO, DevBuildUpdated>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Notifications
@implements IAsyncDisposable

@if (Data == null)
{
    <h3>DevBuild (@Id)</h3>
}

<AccessLimited RequiredAccess="@UserAccessLevel.User">
    <SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
        @if (Data != null)
        {
            <h3>DevBuild (@Id) @Data.BuildHash for @Data.Platform</h3>

            <h4>Properties</h4>

            <ul>
                <li><strong>Hash</strong>: @Data.BuildHash</li>
                <li><strong>Platform</strong>: @Data.Platform</li>
                <li><strong>Build of the Day (BOTD)</strong>: @Data.BuildOfTheDay</li>
                <li><strong>Branch (reported by uploader)</strong>: @Data.Branch</li>
                <li><strong>Verified</strong>: @Data.Verified <strong>by</strong>: ?</li>
                <li><strong>Anonymous</strong>: @Data.Anonymous</li>
                <li><strong>Important</strong>: @Data.Important</li>
                <li><strong>Keep</strong>: @Data.Keep</li>
                <li><strong>Downloads</strong>: @Data.Downloads</li>
                <li><strong>Score</strong>: @Data.Score</li>
                <li><strong>Related PR (not implemented yet)</strong>: </li>
                <li><strong>Created At</strong>: @Data.CreatedAt.ToLocalTime().ToString("G")</li>
                <li><strong>Updated At</strong>: @Data.UpdatedAt.ToLocalTime().ToString("G")</li>
            </ul>

            <h4>Description</h4>
            <pre>@Data.Description</pre>

            <AccessLimited RequiredAccess="UserAccessLevel.Developer">
                <DevBuildEditor Data="@Data" />

                <br />
            </AccessLimited>

            <h4 class="mt-2">Sibling Builds</h4>
            <DevBuildSiblingList Id="@Id" />

            <AccessLimited RequiredAccess="UserAccessLevel.Developer">

                <h4 class="mt-3">Actions</h4>

                <StatusMessageShower Message="@statusMessage" Type="@statusMessageType"
                                     OnClosed="@HideStatusMessage" />

                @if(!Data.BuildOfTheDay)
                {
                    <Button Enabled="@CanMakeBOTD" ButtonStyle="primary" class="mb-2" Spinner="@processing"
                            OnPressed="@MakeBOTD">
                        Make Build of the Day
                    </Button>
                } else if (currentUserInfo.IsAdmin)
                {
                    <Button Enabled="@(!processing)" ButtonStyle="warning" class="mb-2" Spinner="@processing"
                            OnPressed="@RemoveBOTDStatus">
                        Remove BOTD Status (from ALL builds)
                    </Button>
                }
                else
                {
                    <p>Already BOTD</p>
                }

                <br />

                <DevBuildVerifyControls Data="@Data" />

                <hr />

                @* TODO: implement the build delete button *@
                <Button Enabled="@false" ButtonStyle="danger">Delete</Button>

            </AccessLimited>
        }
    </SingleResourceDisplayer>
</AccessLimited>

@code {
    private bool processing;
    private string statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    private bool CanMakeBOTD => !processing && Data is {BuildOfTheDay: false } &&
        !string.IsNullOrEmpty(Data.Description) && (Data.Verified || !Data.Anonymous);

    protected override Task<DevBuildDTO> StartQuery()
    {
        return http.GetFromJsonAsync<DevBuildDTO>($"api/v1/DevBuilds/{Id}");
    }

    public override void GetWantedListenedGroups(UserAccessLevel currentAccessLevel, ISet<string> groups)
    {
        groups.Add(NotificationGroups.DevBuildUpdatedPrefix + Id);
    }

    public async ValueTask DisposeAsync()
    {
        await notificationHandler.Unregister(this);
    }

    protected override Task OnFirstDataReceived()
    {
        return notificationHandler.Register(this);
    }

    private void HideStatusMessage()
    {
        statusMessage = null;
    }

    private async Task MakeBOTD()
    {
        processing = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await http.PostAsJsonAsync("api/v1/DevBuilds/botd", Id);
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "BOTD status set";
            statusMessageType = SiteNoticeType.Primary;
        }

        await InvokeAsync(StateHasChanged);
    }

    private async Task RemoveBOTDStatus()
    {
        processing = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await http.DeleteAsync("api/v1/DevBuilds/botd");
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "All BOTD builds cleared";
            statusMessageType = SiteNoticeType.Primary;
        }

        await InvokeAsync(StateHasChanged);
    }
}
