@page "/lfs/{Id:long}/{*FileBrowserPath}"
@inject HttpClient Http
@inherits SingleResourcePage<LFSProjectDTO>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Shared

<SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
    @if (Data != null)
    {
        <h3>Git LFS Project @Data.Name</h3>

        <ul>
            <li><strong>Public</strong>: @Data.Public</li>
            <li><strong>Git LFS URL</strong>: TODO: reimplement this</li>
            <li><strong>Repository URL</strong>: <a href="@Data.RepoUrl">@Data.RepoUrl</a></li>
            <li><strong>Clone URL</strong>: @Data.CloneUrl</li>
            <li><strong>Created At</strong>: @Data.CreatedAt.ToLocalTime().ToString("G")</li>
            <li><strong>Updated At</strong>: @Data.UpdatedAt.ToLocalTime().ToString("G")</li>
        </ul>

        <p>
            Visit your profile to find you LFS access token, which you need to use in place of your password when
            Git asks to authenticate for Git LFS access.
        </p>

        <h3>Files</h3>
        <p>
            File tree generated at: @Data.FileTreeUpdated?.ToLocalTime().ToString("G") from commit:
            @Data.FileTreeCommit
        </p>

        <LFSProjectFileBrowser BasePath="@($"lfs/{Data.Id}/")" Name="@Data.Name" Project="@Data"
                               FileBrowserPath="@FileBrowserPath"/>

        <AccessLimited AutoRedirectIfNotLoggedIn="false" RequiredAccess="UserAccessLevel.Developer">
            <p>TODO: reimplement these:</p>
            <Button ButtonStyle="warning" Enabled="false">Refresh</Button>
            <AccessLimited AutoRedirectIfNotLoggedIn="false" RequiredAccess="UserAccessLevel.Admin">
                <Button class="mx-1" ButtonStyle="danger" Enabled="false">Rebuild</Button>
            </AccessLimited>
        </AccessLimited>

        <hr />
        <h3>Statistics</h3>
        <table class="table table-bordered">
            <caption>Statistics updated: @Data.TotalSizeUpdated?.ToLocalTime().ToString("G")</caption>
            <tbody>
            <tr>
                <th scope="row">Total size</th>
                <td>@Data.TotalObjectSize.BytesToMiB()</td>
            </tr>
            <tr>
                <th scope="row">Object count</th>
                <td>@Data.TotalObjectCount</td>
            </tr>
            </tbody>
        </table>

        <GitLfsRawObjects Id="@Id" />
    }
</SingleResourceDisplayer>

@code {

    [Parameter]
    public string FileBrowserPath { get; set; }

    protected override Task<LFSProjectDTO> StartQuery()
    {
        return Http.GetFromJsonAsync<LFSProjectDTO>($"api/v1/LFSProject/{Id}");
    }

}
