@page "/precompiled/{Id}"
@inject HttpClient Http
@inject NotificationHandler NotificationHandler
@inherits SingleResourcePage<PrecompiledObjectDTO, PrecompiledObjectUpdated, string>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Shared.Models.Enums
@using ThriveDevCenter.Shared.Notifications
@using DevCenterCommunication.Models
@implements IAsyncDisposable

<SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
    @if (Data != null)
    {
        <h3>Precompiled Object @Data.Name</h3>

        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <ul>
                <li><strong>Name</strong>: @Data.Name</li>
                <li><strong>Public</strong>: @Data.Public</li>
                <li><strong>Created At</strong>: @Data.CreatedAt.ToLocalTime().ToString("G")</li>
                <li><strong>Updated At</strong>: @Data.UpdatedAt.ToLocalTime().ToString("G")</li>
                <AccessLimited RequiredAccess="GroupType.Admin" AutoRedirectIfNotLoggedIn="@false">
                    <li><strong>Deleted</strong>: @Data.Deleted</li>
                </AccessLimited>
            </ul>
        </AccessLimited>

        <AdminResourceDeleteButtons Deleted="@Data.Deleted" Name="@Data.Name" Id="@Data.Id"
                                    DeleteURLBase="api/v1/PrecompiledObject"
                                    DeletePromptTitle="Delete this Precompiled Object?" />

        <AccessLimited RequiredAccess="GroupType.Admin" AutoRedirectIfNotLoggedIn="@false">
            @if (!showEdit)
            {
                <Button ButtonStyle="secondary" OnPressed="@ToggleEdit" class="mb-3 ml-1">Edit</Button>
            }
            else
            {
                <PrecompiledObjectEditor Id="@Data!.Id" ColumnSpan="0" />
                <Button ButtonStyle="secondary" OnPressed="@ToggleEdit" class="mb-3">Cancel</Button>
            }
        </AccessLimited>

        <h3>Versions of This Object</h3>

        <PrecompiledObjectVersionsList ObjectId="@Data.Id" />

        <DevCenterTitle>Precompiled Object @Data.Name</DevCenterTitle>
    }
</SingleResourceDisplayer>

@code {
    private bool showEdit;

    protected override Task<PrecompiledObjectDTO?> StartQuery()
    {
        return Http.GetFromJsonAsync<PrecompiledObjectDTO>($"api/v1/PrecompiledObject/byName/{Id}");
    }

    public override void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.PrecompiledObjectUpdatedPrefix + Data!.Id);
    }

    public async ValueTask DisposeAsync()
    {
        await NotificationHandler.Unregister(this);
    }

    protected override Task OnFirstDataReceived()
    {
        return NotificationHandler.Register(this);
    }

    private void ToggleEdit()
    {
        showEdit = !showEdit;
    }
}
