@page "/reports"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject IJSRuntime JS
@inject ComponentUrlHelper URLHelper
@inject NotificationHandler NotificationHandler
@using RevolutionaryWebApp.Shared
@using RevolutionaryWebApp.Shared.Notifications
@using System.Threading
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Models.Enums
@implements RevolutionaryWebApp.Client.Services.INotificationHandler<CrashReportListUpdated>
@inherits PaginatedPage<ThriveDevCenter.Shared.Models.CrashReportInfo>

<h3>Crash Reports</h3>

<form class="form-inline">
    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="checkbox" id="searchReportsDuplicates" @bind="SearchDuplicates">
        <label class="form-check-label" for="searchReportsDuplicates">
            Duplicates
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="checkbox" id="searchReportsClosed" @bind="SearchClosed">
        <label class="form-check-label" for="searchReportsClosed">
            Closed
        </label>
    </div>

    <label class="sr-only" for="reportTextSearch">Text to search:</label>
    <input type="text" class="form-control mb-2 flex-fill mr-sm-2" id="reportTextSearch"
           placeholder="Containing text..." @bind="SearchText" @bind:event="oninput">

    <Button class="mb-2" type="submit" ButtonStyle="primary"
            Enabled="@CanSearch" OnPressed="@(async () => await FetchData())">
        Search
    </Button>
</form>

@if (!string.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger" role="alert">
        @Error
    </div>
}
else
{
    <PaginatedTable ShowPaginator="@(Data != null)" CurrentPage="@Data?.CurrentPage" PageCount="@Data?.PageCount"
                    OnPageChanged="async e => await ChangePage(e)"
                    OnSortChanged="async column => await ChangeSort(column)"
                    GetSortClass="@SortClass"
                    ShowContentSpinner="@VisibleFetchInProgress"
                    Columns="@columns"
                    ShowNoContent="@NoItemsFound">
        @if (Data != null)
        {
            @foreach (var item in Data.Results)
            {
                <tr @key="item.Id">
                    <th scope="row">
                        <NavLink href="@($"reports/{item.Id}")">@item.Id</NavLink>
                    </th>
                    <td>@item.State</td>
                    <td>@item.ExitCodeOrSignal</td>
                    <td>@item.Platform</td>
                    <td>@item.StoreOrVersion</td>
                    <td>@item.HappenedAt.ToLocalTime().ToString("G")</td>
                    <td>@item.Public</td>
                </tr>
            }
        }
    </PaginatedTable>
}

<DevCenterTitle>Reports</DevCenterTitle>

@code {

    private readonly List<TableColumn> columns = new()
    {
        new TableColumn("Id", true),
        new TableColumn("State", false),
        new TableColumn("Exit Code", false),
        new TableColumn("Platform", false),
        new TableColumn("Version", false),
        new TableColumn("Happened At", false),
        new TableColumn("Public", false),
    };

    public Reports() : base(new SortHelper("Id", SortDirection.Descending))
    {
        DefaultPageSize = 50;
    }

    [QueryStringParameter]
    private bool SearchDuplicates { get; set; } = true;

    [QueryStringParameter]
    private bool SearchClosed { get; set; } = true;

    [QueryStringParameter]
    private string? SearchText { get; set; }

    private bool CanSearch => string.IsNullOrEmpty(SearchText) ||
        SearchText.Length >= AppInfo.MinimumReportTextSearchLength;

    protected override async Task OnInitializedAsync()
    {
        await NotificationHandler.Register(this);
        await base.OnInitializedAsync();
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        this.SetParametersFromQueryString(NavManager);

        return base.SetParametersAsync(parameters);
    }

    public Task Handle(CrashReportListUpdated notification, CancellationToken cancellationToken)
    {
        return HandleItemNotification(notification);
    }

    public void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.CrashReportListUpdatedPublic);

        if (currentUserGroups.HasGroup(GroupType.Developer))
            groups.Add(NotificationGroups.CrashReportListUpdatedPrivate);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        await NotificationHandler.Unregister(this);
    }

    protected override Dictionary<string, string?> CreatePageRequestParams()
    {
        var result = base.CreatePageRequestParams();

        result.Add("searchDuplicates", SearchDuplicates.ToString());
        result.Add("searchClosed", SearchClosed.ToString());

        if (!string.IsNullOrWhiteSpace(SearchText))
            result.Add("searchText", SearchText);

        return result;
    }

    protected override void PruneRequestParams(Dictionary<string, string?> queryParams)
    {
        base.PruneRequestParams(queryParams);

        if (SearchDuplicates)
            queryParams.Remove("searchDuplicates");

        if (SearchClosed)
            queryParams.Remove("searchClosed");

        if (string.IsNullOrWhiteSpace(SearchText))
            queryParams.Remove("searchText");
    }

    protected override Task<PagedResult<CrashReportInfo>?> StartQuery(Dictionary<string, string?> requestParams)
    {
        return Http.GetFromJsonAsync<PagedResult<CrashReportInfo>>(
            QueryHelpers.AddQueryString("api/v1/CrashReport", requestParams));
    }

    protected override async Task OnQuerySent(Dictionary<string, string?> requestParams)
    {
        await URLHelper.UpdateUrlHistoryIfChanged(requestParams);
    }
}
