@page "/users/{Id:long}"
@inject HttpClient Http
@inject NotificationHandler NotificationHandler
@inherits SingleResourcePage<UserInfo, UserUpdated>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Shared.Notifications
@using ThriveDevCenter.Client.Services

<h3>User: @Id</h3>

<AccessLimited RequiredAccess="@UserAccessLevel.RestrictedUser">
    <SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
        @if (Data != null)
        {
            <UserInfoPageContent User="@Data" ShowSelfIdentification="@true" />
        }
    </SingleResourceDisplayer>
</AccessLimited>

<DevCenterTitle>User @Id</DevCenterTitle>

@code {
    protected override Task<UserInfo?> StartQuery()
    {
        return Http.GetFromJsonAsync<UserInfo>($"api/v1/UserManagement/{Id}");
    }

    public override void GetWantedListenedGroups(UserAccessLevel currentAccessLevel, ISet<string> groups)
    {
        if(currentAccessLevel == UserAccessLevel.Admin)
            groups.Add(NotificationGroups.UserUpdatedPrefixAdminInfo + Id);

        groups.Add(NotificationGroups.UserUpdatedPrefix + Id);
    }

    public async ValueTask DisposeAsync()
    {
        await NotificationHandler.Unregister(this);
    }

    protected override Task OnFirstDataReceived()
    {
        return NotificationHandler.Register(this);
    }

}
