@inject HttpClient Http
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Shared

@if (showForm)
{
    <EditForm EditContext="@editContext" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <div class="form-row">
            <div class="form-group">
                <label for="newBranchToShow">Branch To Show File Tree For</label>
                <CustomInputText class="form-control" id="newBranchToShow"
                                 @bind-Value="editedData!.BranchToBuildFileTreeFor" placeholder="Branch name"
                                 DisplayName="Branch To Show File Tree"/>
            </div>
        </div>

        <ValidationSummary />

        <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" />
        <Button class="my-1 mr-1" Enabled="@(!processing)" type="submit" Spinner="@processing"
                ButtonStyle="primary">
            Save
        </Button>
        <Button ButtonStyle="secondary" OnPressed="@Cancel">
            Cancel
        </Button>
    </EditForm>
}
else
{
    <StatusMessageShower Message="@statusMessage" Type="@statusMessageType" OnClosed="@HideStatusMessage" />

    <Button Enabled="@true" ButtonStyle="secondary" OnPressed="@ShowForm">Edit</Button>
}

@code {

    private bool showForm;
    private bool processing;
    private string? statusMessage;
    private SiteNoticeType statusMessageType = SiteNoticeType.Danger;

    private EditContext editContext = null!;

    private LFSProjectDTO? editedData;

    [Parameter]
    [EditorRequired]
    public LFSProjectDTO Data { get; set; } = null!;

    private void ShowForm()
    {
        editedData = Data.Clone();

        statusMessage = null;
        showForm = true;

        editContext = new(editedData);
    }

    private void Cancel()
    {
        showForm = false;
    }

    private void HideStatusMessage()
    {
        statusMessage = null;
    }

    private async Task Save()
    {
        processing = true;
        statusMessage = null;
        statusMessageType = SiteNoticeType.Danger;
        await InvokeAsync(StateHasChanged);

        HttpResponseMessage result;

        try
        {
            result = await Http.PutAsJsonAsync($"api/v1/LFSProject/{Data.Id}", editedData);
        }
        catch (HttpRequestException e)
        {
            statusMessage = $"Network request failed: {e.Message}";
            processing = false;
            await InvokeAsync(StateHasChanged);
            return;
        }

        processing = false;

        if (!result.IsSuccessStatusCode)
        {
            var content = await result.Content.ReadAsStringAsync();

            statusMessage = $"Error, server responded with: {content}, {result.StatusCode}";
        }
        else
        {
            statusMessage = "Changes saved";
            statusMessageType = SiteNoticeType.Primary;
            showForm = false;
        }

        await InvokeAsync(StateHasChanged);
    }

}
