@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Models.Enums
<div class="top-row ps-3 navbar navbar-dark">
    <!-- TODO: make the site part name appear here -->
    <a class="navbar-brand" href="">RevolutionaryWebApp</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass nav-scrollable nav-sidebar" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink id="leftHomeButton" class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house nav-icon"></i> Home
            </NavLink>
        </li>
        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftStatisticsButton" class="nav-link" href="statistics">
                   <i class="fa-solid fa-chart-line nav-icon"></i> Statistics
                </NavLink>
            </li>
        </AccessLimited>
        <li class="nav-item px-3">
            <NavLink id="leftDevBuildButton" class="nav-link" href="builds">
                <i class="fa-solid fa-cloud-arrow-down nav-icon"></i> DevBuilds
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftFilesButton" class="nav-link" href="files">
                <i class="fa-solid fa-box-archive nav-icon"></i> Files
            </NavLink>
        </li>
        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftMediaButton" class="nav-link" href="media">
                    <i class="fa-solid fa-photo-film nav-icon"></i> Media
                </NavLink>
            </li>
        </AccessLimited>
        <AccessLimited RequiredAccess="GroupType.SitePageEditor" OrHasOverride="GroupType.Admin"
                       AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftPagesButton" class="nav-link" href="pages">
                    <i class="fa-solid fa-file-lines nav-icon"></i> Pages
                </NavLink>
            </li>
        </AccessLimited>
        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftPostsButton" class="nav-link" href="posts">
                    <i class="fa-solid fa-newspaper nav-icon"></i> Website Posts
                </NavLink>
            </li>
        </AccessLimited>
        <AccessLimited RequiredAccess="GroupType.SiteLayoutEditor" OrHasOverride="GroupType.Admin"
                       AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftLayoutButton" class="nav-link" href="layout">
                    <i class="fa-solid fa-clapperboard nav-icon"></i> Site Layout
                </NavLink>
            </li>
        </AccessLimited>
        <li class="nav-item px-3">
            <NavLink id="leftLFSButton" class="nav-link" href="lfs">
                <i class="fa-solid fa-briefcase nav-icon"></i> Git LFS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftReportsButton" class="nav-link" href="reports">
                <i class="fa-solid fa-bug nav-icon"></i> Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftCIButton" class="nav-link" href="ci">
                <i class="fa-solid fa-hard-drive nav-icon"></i> CI
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftCLAButton" class="nav-link" href="cla">
                <i class="fa-solid fa-file-contract nav-icon"></i> CLA
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftPrecompiledObjectsButton" class="nav-link" href="precompiled">
                <i class="fa-solid fa-puzzle-piece nav-icon"></i> Precompiled
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftAssociationButton" class="nav-link" href="association">
                <i class="fa-solid fa-people-roof nav-icon"></i> Association
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink id="leftToolsButton" class="nav-link" href="tools/crashDump">
                <i class="fa-solid fa-toolbox nav-icon"></i> Tools
            </NavLink>
        </li>
        <li class="nav-item px-3 backup-left-item">
            <NavLink class="nav-link" href="about">
                <i class="fa-solid fa-circle-info nav-icon"></i> About
            </NavLink>
        </li>
        <AccessLimited RequiredAccess="GroupType.Developer" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftDebugSymbolsButton" class="nav-link" href="symbols">
                    <i class="fa-solid fa-signs-post nav-icon"></i> Symbols
                </NavLink>
            </li>
            @* Should be fine to have this here as admins are also developers *@
            <hr/>
            <!--<li class="nav-item px-3">
                <NavLink id="leftWikiSettings" class="nav-link" href="wikiSettings">
                    <i class="fa-solid fa-screwdriver-wrench nav-icon"></i> Wiki Settings
                </NavLink>
            </li>-->
        </AccessLimited>
        <AccessLimited RequiredAccess="GroupType.Admin" AutoRedirectIfNotLoggedIn="@false">
            <li class="nav-item px-3">
                <NavLink id="leftUsersButton" class="nav-link" href="users">
                    <i class="fa-solid fa-users-viewfinder nav-icon"></i> Users
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink id="leftAdminButton" class="nav-link" href="admin">
                    <i class="fa-solid fa-gears nav-icon"></i> Admin
                </NavLink>
            </li>
            <!--<li class="nav-item px-3">
                <NavLink id="leftTranslationSettings" class="nav-link" href="translationAdmin">
                    <i class="fa-solid fa-wrench nav-icon"></i> Translations Admin
                </NavLink>
            </li>-->
        </AccessLimited>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
