@inherits ResourceEditorBase<CombinedFeedDTO, CombinedFeedUpdated, long>
@using ThriveDevCenter.Shared.Models
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Models.Enums
@using ThriveDevCenter.Shared.Notifications
@implements IAsyncDisposable

@* TODO: firefox once again complains here about that relative now has an effect here *@
<tr @key="ElementIdPrefix" style="position: relative;">
    <td colspan="@ColumnSpan" class="mb-2 expanded-box">
        <SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
            @if (Data != null)
            {
                <CombinedFeedDataForm EditContext="@editContext" EditedData="@editedData"
                              ControlIdSuffix="@Id.ToString()" StatusMessage="@statusMessage" Processing="@processing"
                              StatusMessageType="@statusMessageType" OnValidSubmit="@Save"/>

                <span class="float-right">
                    <AdminResourceDeleteButtons Deleted="@false" Name="@Data.Name" Id="@Data.Id"
                                                UsesSoftDelete="@false" DeleteURLBase="api/v1/CombinedFeed"
                                                DeletePromptTitle="Delete this Feed Combined?" />
                </span>

                @if (processing)
                {
                    <TableElementProcessingOverlay/>
                }
            }
        </SingleResourceDisplayer>
    </td>
</tr>

@code {
    protected override string ElementIdPrefix => $"{Id}-combinedFeedDetails";

    protected override Task<CombinedFeedDTO?> StartQuery()
    {
        return Http.GetFromJsonAsync<CombinedFeedDTO>($"api/v1/CombinedFeed/{Id}");
    }

    public override void GetWantedListenedGroups(IUserGroupData currentUserGroups, ISet<string> groups)
    {
        groups.Add(NotificationGroups.CombinedFeedUpdatedPrefix + Id);
    }

    protected override CombinedFeedDTO CreateEditData(CombinedFeedDTO serverData)
    {
        return serverData.Clone();
    }

    protected override string GetSaveEndpoint(CombinedFeedDTO serverData)
    {
        return $"api/v1/CombinedFeed/{serverData.Id}";
    }
}
