@inject HttpClient http
@inject NavigationManager navManager
@inject IJSRuntime js
@inject ComponentUrlHelper urlHelper
@inject NotificationHandler notificationHandler
@using ThriveDevCenter.Shared
@using ThriveDevCenter.Shared.Notifications
@using System.Threading
@using ThriveDevCenter.Client.Services
@using ThriveDevCenter.Shared.Models
@implements ThriveDevCenter.Client.Services.INotificationHandler<CIProjectBuildsListUpdated>
@implements IAsyncDisposable
@inherits PaginatedPage<ThriveDevCenter.Shared.Models.CIBuildDTO>

@if (!string.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger" role="alert">
        @Error
    </div>
}
else
{
    <PaginatedTable ShowPaginator="@(Data != null)" CurrentPage="@Data?.CurrentPage" PageCount="@Data?.PageCount"
                    OnPageChanged="async (e) => await ChangePage(e)"
                    OnSortChanged="async (column) => await ChangeSort(column)"
                    GetSortClass="@SortClass"
                    ShowContentSpinner="@VisibleFetchInProgress"
                    Columns="@columns"
                    ShowNoContent="@NoItemsFound">
        @if (Data != null)
        {
            @foreach (var item in Data.Results)
            {
                <tr @key="item.CiBuildId">
                    <th scope="row"><NavLink href="@($"ci/{ProjectId}/build/{item.CiBuildId}")">
                        @item.CiBuildId
                    </NavLink></th>
                    <td>@item.CommitHash</td>
                    <td>@item.RemoteRef</td>
                    <td>@item.CreatedAt.ToLocalTime().ToString("G")</td>
                    <td class="@(item.Status == BuildStatus.Failed || item.Status == BuildStatus.GoingToFail ?
                                   "bg-danger" : "")">
                        @item.Status
                    </td>
                </tr>
            }
        }
    </PaginatedTable>
}

@code {
    private readonly List<TableColumn> columns = new()
    {
        new TableColumn("Id", true, "CiBuildId"),
        new TableColumn("Commit", false),
        new TableColumn("Ref", false),
        new TableColumn("Started At", false),
        new TableColumn("Status", false),
    };

    [Parameter]
    public long ProjectId { get; set; }

    public CIBuildsList() : base(new SortHelper("CiBuildId", SortDirection.Descending))
    {
        DefaultPageSize = 75;
    }

    protected override async Task OnInitializedAsync()
    {
        await notificationHandler.Register(this);
        await base.OnInitializedAsync();
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        this.SetParametersFromQueryString(navManager);

        return base.SetParametersAsync(parameters);
    }

    public Task Handle(CIProjectBuildsListUpdated notification, CancellationToken cancellationToken)
    {
        return HandleItemNotification(notification);
    }

    public void GetWantedListenedGroups(UserAccessLevel currentAccessLevel, ISet<string> groups)
    {
        groups.Add(NotificationGroups.CIProjectBuildsUpdatedPrefix + ProjectId);
    }

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        await notificationHandler.Unregister(this);
    }

    protected override Task<PagedResult<CIBuildDTO>> StartQuery(Dictionary<string, string> requestParams)
    {
        return http.GetFromJsonAsync<PagedResult<CIBuildDTO>>(
            QueryHelpers.AddQueryString($"api/v1/CIProject/{ProjectId}/builds", requestParams));
    }

    protected override async Task OnQuerySent(Dictionary<string, string> requestParams)
    {
        await urlHelper.UpdateUrlHistoryIfChanged(requestParams);
    }
}
