@inject HttpClient Http
@inject IJSRuntime JS
@inherits SingleResourcePage<IList<string>, long>
@using RevolutionaryWebApp.Shared.Models
@using RevolutionaryWebApp.Shared.Converters
@using RevolutionaryWebApp.Shared.Models.Enums

<SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
    @if (Data != null)
    {
        @* NOTE: only a single job can exist on a page as these are not scoped by job ID*@
        <div class="output-area" id="@($"output-container-{Id}")">
            @{
                // TODO: should this be somehow changed so that realtime appends use JS to append stuff for efficiency?
                var lineSource = RealtimeOutput ?? Data;
            }

            @for (int i = 0; i < lineSource.Count; ++i)
            {
                // Skip last line if it is empty to not show a trailing line in the output
                var line = lineSource[i];

                bool last = i + 1 >= lineSource.Count;

                if (i > 0 && last && string.IsNullOrWhiteSpace(line))
                    continue;

                // Detect if this is last visible line
                string? id = null;

                if (i + 2 >= lineSource.Count)
                {
                    if (last || string.IsNullOrWhiteSpace(lineSource[i + 1]))
                    {
                        id = LastElementId;
                    }
                }

                <div class="output-line" id="@id">
                    @* TODO: should these generations be cached, is this too expensive? *@
                    <span class="line-number">@(i + 1)</span>
                    @foreach (var part in TerminalEscapeHandling.HandleTerminalEscapes(line))
                    {
                        <span style="@($"color: {part.Colour.ColourToCSSHexValue()}")">@part.Text</span>
                    }
                </div>
            }
        </div>
    }
</SingleResourceDisplayer>

@code {

    [Parameter]
    public long ProjectId { get; set; }

    [Parameter]
    public long BuildId { get; set; }

    [Parameter]
    public long JobId { get; set; }

    /// <summary>
    ///   If set, overrides the data from the server fetch
    /// </summary>
    [Parameter]
    public List<string>? RealtimeOutput { get; set; }

    private string LastElementId => $"output-section-{Id}-last";

    private bool hadRealtimeOutput;

    protected override bool ShouldRender()
    {
        // If we have realtime output, and we already rendered once with it, we handle updates via JS to avoid
        // massive re-renders
        if (RealtimeOutput != null)
        {
            if (hadRealtimeOutput)
                return false;

            hadRealtimeOutput = true;
            return true;
        }

        hadRealtimeOutput = false;
        return true;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        // Scroll to last existing output line
        // TODO: only scroll when scroll is at the end already
        await JS.InvokeVoidAsync("scrollToElement", LastElementId, false);
    }

    protected override async Task<IList<string>?> StartQuery()
    {
        if (RealtimeOutput != null)
            return new List<string>();

        var data = await Http.GetFromJsonAsync<CIJobOutputSectionDTO>(
            $"api/v1/CIProject/{ProjectId}/builds/{BuildId}/jobs/{JobId}/output/{Id}");

        return data?.Output.Split('\n');
    }

}
