@page "/pages/{Id:long}"
@inject HttpClient Http
@inject NotificationHandler NotificationHandler
@inject CurrentUserInfo CurrentUserInfo
@inherits RevolutionaryWebApp.Client.Shared.CMS.EditablePageView
@using RevolutionaryWebApp.Client.Services
@using RevolutionaryWebApp.Shared.Models.Enums
@using RevolutionaryWebApp.Shared.Models.Pages
@using RevolutionaryWebApp.Shared.Notifications

<AccessLimited RequiredAccess="GroupType.SitePageEditor" OrHasOverride="GroupType.Admin">
    <SingleResourceDisplayer Error="@Error" Loading="@Loading" HasData="@(Data != null)">
        @if (Data != null)
        {
            <PageEditTitle Data="@Data" TypeName="Page"/>

            <ResourceDeleteButtons Deleted="@Data.Deleted" Name="@Data.Title" Id="@Data.Id"
                                   DeleteURLBase="api/v1/Pages"
                                   DeletePromptTitle="Delete this page?" OnDeleted="@OnDeleted"
                                   OnRestored="@OnRestored"/>

            <StatusMessageShower Message="@saveMessage" Type="@saveMessageType" OnClosed="@ClearSaveMessage"/>

            @if (Data.Visibility != PageVisibility.HiddenDraft)
            {
                <AccessLimited RequiredAccess="GroupType.SitePagePublisher" OrHasOverride="GroupType.Admin">
                    <AccessMissingContent>
                        <StatusMessageShower Message="You may not have permission to edit this non-draft page"/>
                    </AccessMissingContent>
                </AccessLimited>
            }

            <PagePropertiesEditor Data="@Data"/>

            <EditConflictNoticeShower Show="@versionConflict" OnClosed="@SuppressEditWarning"/>
            <SimultaneousEditWarningShower UserId="@someoneElseEditId" AtTime="@someoneElseEditTime"/>

            <PageEditorWithPreview Id="@Id" OriginalText="@Data.LatestContent" OnEdited="@OnEdited"/>

            <PagePublishingControls Data="@Data" OnPropertiesChanged="@OnPropertiesChanged"/>

            <StatusMessageShower Message="@saveMessage" Type="@saveMessageType" OnClosed="@ClearSaveMessage"/>

            <Button class="my-1" Enabled="@CanSaveChanges" OnPressed="@SaveChanges"
                    Spinner="@processingSave">
                Save Changes
            </Button>

            <EditConflictNoticeShower Show="@versionConflict" OnClosed="@SuppressEditWarning"/>
            <SimultaneousEditWarningShower UserId="@someoneElseEditId" AtTime="@someoneElseEditTime"/>

            <PageEditFooter Data="@Data" />

            <DevCenterTitle>Edit Page @Id</DevCenterTitle>
        }
    </SingleResourceDisplayer>


</AccessLimited>

@code {

    protected override PageType EditedPageType => PageType.NormalPage;

    public override async ValueTask DisposeAsync()
    {
        await base.DisposeAsync();
        await NotificationHandler.Unregister((INotificationHandler<VersionedPageUpdated>)this);
        await NotificationHandler.Unregister((INotificationHandler<PageEditNotice>)this);
    }

    protected override string GetPageEndpoint()
    {
        return $"api/v1/Pages/{Id}";
    }

    protected override long GetCurrentUserId()
    {
        return CurrentUserInfo.CurrentUserIdIfExists;
    }

    protected override HttpClient AccessHttp()
    {
        return Http;
    }

    protected override async Task OnFirstDataReceived()
    {
        await NotificationHandler.Register((INotificationHandler<VersionedPageUpdated>)this);
        await NotificationHandler.Register((INotificationHandler<PageEditNotice>)this);
    }



}
